<h1>Hello world!</h1>
{{#unless logged}}
<a href='/user/signin'>Sign In</a>
<a href='/user/signup'>Sign Up</a>
{{/unless}}
{{#if logged}}
<a href='/user/logout/'>Logout</a>

<div id='player'></div>

<form name='insert_video'>
    <input id='insert_video_input' name='video_url'>
    <button id='insert_video_button' type='button'>Insert</button>
</form>

<h1>Chat</h1>
<div id='master-status'></div>
<button id='master-status-button'>Become master</button>
<dl id="chat">
</dl>

<form name="send_message">
    <label>Сообщение от <span id="nickname"></span>: <input name="message" type="text" /></label>
    <button name="send" type="button" disabled>Отправить</button>
</form>
<script defer src='/js/chat.js'></script>
{{/if}}